.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Board with cards */

.card-board {
  height: 230px;
  position: relative;
}

/* Cards */

.card {
  width: 75px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  box-sizing: border-box;
}

.card.selected {
  border: 2px solid red;
}

.jade {
  background-color: #21cebe;
}

.gold {
  background-color: #f8c945;
}

/* Dice stock */

.dice-stock.top {
  margin-top: 0px;
  margin-bottom: 30px;
}

.dice-stock.bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.die {
  margin-right: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.dice-stock > img:last-child {
  margin-right: 0;
}

.die.selected {
  transform: scale(1.2);
}

/* Fight */

button { /* TODO: just use normalize.css */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

.fight {
  letter-spacing: 0.15rem;
  font-size: 2rem;
  font-weight: 500;
  background-color:#6c5fac;
  color: white;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  padding: 0.1em 1.5em 0em;
  text-transform: uppercase;
}

.fight:active {
  transform: scale(1.05);
  background-color: #7663d3;
}

/* Extra info */

.game-info {
  display: none;
}

.history {
  margin-top: 100px;
}
