.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Board with cards */

.card-board {
  position: relative;
}

/* Cards */

.card {
  width: 75px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  box-sizing: border-box;
}

.card.selected {
  border: 2px solid red;
}

.jade {
  background-color: #21cebe;
}

.gold {
  background-color: #f8c945;
}

/* Dice stock */

.dice-stock.top {
  margin-top: 0px;
  margin-bottom: 30px;
}

.dice-stock.bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.die {
  margin-right: 10px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.vacant-slot {
  margin-right: 10px;
  border-radius: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #d8d6de;
}

/* sole dice */
.on-card:only-child {
  transform: translate(15px, 35px);
}

/* group of two dice */
.on-card:nth-child(2):nth-last-child(1) {
  /* top */
  transform: translate(4px, -25px);
  z-index: 2;
}
.on-card:nth-child(1):nth-last-child(2) {
  /* bottom */
  transform: translate(25px, 45px);
  z-index: 1;
}

/* groups of three dice */
.on-card:nth-child(3):nth-last-child(1) {
  /* top */
  transform: translate(25px, -95px);
  z-index: 3;
}

.on-card:nth-child(2):nth-last-child(2) {
  /* middle */
  transform: translate(4px, -15px);
  z-index: 2;
}

.on-card:nth-child(1):nth-last-child(3) {
  /* bottom */
  transform: translate(25px, 63px);
  z-index: 1;
}

.on-jade {
  border: #21cebe solid 3px;
  border-radius: 10px;
}

.on-gold {
  border: #f8c945 solid 3px;
  border-radius: 10px;
}

.dice-stock > :last-child {
  margin-right: 0;
}

.die.selected {
  transform: scale(1.2);
}

/* Fight */

button { /* TODO: just use normalize.css */
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
}

.fight {
  letter-spacing: 0.15rem;
  font-size: 2rem;
  font-weight: 500;
  background-color:#6c5fac;
  color: white;
  height: 50px;
  border: 0px;
  border-radius: 5px;
  padding: 0.1em 1.5em 0em;
  text-transform: uppercase;
}

.fight:active {
  transform: scale(1.05);
  background-color: #7663d3;
}

/* Extra info */

.game-info {
  display: none;
}

.history {
  margin-top: 100px;
}
