@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@800&family=Roboto:wght@300;400&display=swap');

html {
  font-size: 10px;
}

body {
  font-family: "Roboto-Light", sans-serif;
  margin: 20px;
}