.opponent {
    display: flex;
}

#bot_opponent {
    background-color: #ff5c67;
}

#human_opponent {
    background-color: #d8d6de;
}

#watch {
    background-color: #d8d6de;
}

.opponent-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0px 4px;
    border-radius: 5px;
}

.opponent-choice > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}
